body::before{
    display:block;
    content:'';
    height: 70px;
}
.custom-google-text{
    font-family: 'Marcellus', serif;
    font-weight: bold;
}
.card:hover{
    box-shadow: rgba(110, 224, 226, 0.25) 0px 14px 28px, rgba(65, 183, 163, 0.22) 0px 10px 10px;
}
.card{
    max-width: 22rem;
}
.symbol{
    width: 40px;
    height: 40px;
}
.img-custom{
    height: 70%;
    width: 70%;
}
.footc{
    background-color: black!important;
}
