body::before{
    display:block;
    content:'';
    height: 70px;
}
.symbol{
    width: 40px;
    height: 40px;
}
.custom-google-text{
    font-family: 'Marcellus', serif;
    font-weight: bold;
}
.cust-bk{
    background-image: url("../images/gggrain.svg");
    background-size: cover;
}
.btn:hover{
    background-image: linear-gradient(to right top, #64ddd5, #2bd3e1, #00c6ed, #00b8f7, #00a8fa, #00aafc, #00acfd, #00aeff, #00c4ff, #00d8ff, #01eafa, #5ffbf1)!important;
}
.footc{
    background-color: black!important;
}