body::before{
    display:block;
    content:'';
    height: 70px;
}
.p-5{
    padding: 4.5rem!important;
}
.symbol{
    width: 40px;
    height: 40px;
}
.tut-img{
    height: 100%;
    width: 100%;
}
.margin-top{
    margin-top: 50px;
}
.custom-text{
    font-size: 275%;
    font-family: 'Marcellus', serif;
    font-weight: bold;
}
.custom-google-text{
    font-family: 'Marcellus', serif;
    font-weight: bold;
}
.custom-text1{
    font-size: x-large;
    color: rgb(91, 89, 89);
}
.custom-img-prop{
    width: 380px;
    height: 450px;
}
.custom-course-img{
    height: 300px;
}
.custom-timer-img{
    height: 207px;
}
.footc{
    background-color: black!important;
}
.footer-links{
    text-decoration: none;
    margin-inline: 2%;
    color: inherit;
    font-size: x-large;
}
a:hover{
    color: aquamarine;
}
.custom-bg{
    background-color: #f0ffff!important;
}

/* .card:hover{
    color:dodgerblue;
} */
.btn:hover{
    background-image: linear-gradient(to right top, #64ddd5, #2bd3e1, #00c6ed, #00b8f7, #00a8fa, #00aafc, #00acfd, #00aeff, #00c4ff, #00d8ff, #01eafa, #5ffbf1)!important;
}
