*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;  
}
nav{
    background-color: rgb(39, 37, 37);
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 70px;
    padding: 0 60px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 60px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 15px;
}
nav ul li a{
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 6px 8px;
    border-radius: 7px;
    color: white;

}
a.active,a:hover{
    background: orange;
    transition: .5s;
}
@media (max-width: 1252px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 20px;   
    }
}
h1 {
    text-align: center;
    font-size: large;
    padding-top: 200px;
    padding-left: 10px;
    font-size: 70px;
    color: white;
}
p {
    text-align: center;
    font-size: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 15px;
    font-weight: bold;
    color: white;
}
.button{
    text-align: center;
    display: inline-block;
    padding: 8px 5px;
    font-size: 35px;
    background-color: orange;
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 1px;
    margin-top: 60px;
    border-width: thin;
    width: 175px;
}
.button1:hover{
    background-color: green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button2:hover{
    background-color: rgb(85, 67, 172);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3:hover{
    background-color: rgb(226, 26, 26);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.container img{
    position: relative;
    height: 714px;
    width: 1520px;
}
.content-block{
    position: absolute;
    top: 15px;
}
.button4{
    text-align: center;
    background-color: orange;
    display: inline-block;
    position: absolute;
    top: 100%;
    -ms-transform: translateY(-50%);
     transform: translateY(-50%);
    margin-left: 680px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 10px;
    flex-wrap: wrap;
    padding: 40px 0;
}
.service-block img{
    width: 250px;
    height: 300px;
    margin-top: 120px;
    margin-left: 100px;
    margin-bottom: 1px;
    padding-top: 15px;
    padding-left: 30px;
    float: left;
}
.service-block img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}
.button5{
    text-align: center;
    margin-left: 700px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 80px;
}
.coach-profiles img{
    width: 250px;
    height: 300px;
    margin-top: 25px;
    margin-left: 200px;
    margin-bottom: 2px;
    padding-top: 20px;
    padding-left: 30px;
    float: left;
}
.footer-section footer{
    background-color: aqua;
    height: 250px;
    width: 100%;
    position: absolute;
    margin-top: 430px;
}
h5{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}
.footcont p{
    font-size: 25px;
    text-align: center;
    padding-top: 12px;
    font-weight: lighter;
    color: black;
}
.footerbottom p{
    font-size: 17px;
    color: black;
    font-weight: lighter;
    margin-top: 35px;
}
.footcont img{
    height: 60px;
    width: 60px;
    margin-left: 335px;
    margin-right: 10px;
    float: left;
}