body::before{
    display:block;
    content:'';
    height: 70px;
}
/* .p-5{
    padding: 4.5rem!important;
} */
.symbol{
    width: 40px;
    height: 40px;
}
.margin-top{
    margin-top: 50px;
}
.custom-text{
    font-size: 275%;
    font-family: 'Marcellus', serif;
    font-weight: bold;
}
.custom-google-text{
    font-family: 'Marcellus', serif;
    font-weight: bold;
}
.nav-link:hover{
    text-decoration:underline;   
}
.cust-bk{
    background-image: url("gggrain.svg");
    background-size: cover;
}
.custom-text1{
    font-size: x-large;
    color: rgb(91, 89, 89);
}
.cust-top{
    padding-top: 5%;
}
.com-img{
    height: 50%;
    width: 50%;
}
.custom-course-img{
    height: 80%;
    width: 80%;
}
#tutorials{
    background-color:rgb(251, 242, 231)!important;
}
.rev-img-cust{
    height: 25%;
    width: 25%;
    border-radius: 50%!important;
}
.custom-timer-img{
    height: 207px;
}
.custom-bg{
    background-color: #f0ffff!important;
}
.btn:hover{
    background-image: linear-gradient(to right top, #64ddd5, #2bd3e1, #00c6ed, #00b8f7, #00a8fa, #00aafc, #00acfd, #00aeff, #00c4ff, #00d8ff, #01eafa, #5ffbf1)!important;
}
a:hover{
    color: aquamarine;
    cursor: pointer;
}
.footc{
    background-color: black!important;
}
.footer-links{
    text-decoration: none;
    margin-inline: 2%;
    color: inherit;
    font-size:larger;
}
